:root {
	--font-fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;
	--font-main: 'Open Sans', var(--font-fallback);
	--font-headers: 'Roboto', var(--font-fallback);
	--color-accent: #EE753E;
	--color-secondary: #272A33;

	--color-green: #4FCF36;
	--color-card-bg: #EEF3F8;
	--color-card-stroke: #E0E6ED;

	--transition: .2s ease-in-out;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

ul, ol, li {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: var(--font-main), sans-serif;
	line-height: 1.5;
	color: var(--color-secondary);
}

.container {
	width: 100%;
	max-width: 1470px;
	margin: 0 auto;
	padding: 0 15px;
}

/* Some elements - start */
.title {
	font-size: 36px;
	font-weight: 700;
	font-family: var(--font-headers), sans-serif;
	line-height: 1.35;
	text-transform: uppercase;
}

.btn {
	outline: none;
	border: none;
	font-family: inherit;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	font-size: 18px;
	line-height: 1.45;

	color: #fff;
	background-color: var(--color-secondary);

	padding: 8px 30px 12px;
	border-radius: 8px;
	transition: background-color var(--transition), opacity var(--transition);
}

.btn:hover {
	background-color: var(--color-accent);
}

.btn:disabled {
	opacity: 0.2;
	cursor: not-allowed;
	background-color: var(--color-secondary);
}

/* Some elements - end */

/* Header - start */
.header {
	width: 100%;
	position: sticky;
	top: 0;
	background-color: #fff;
	margin-bottom: 80px;
}


.header__logo-link {
	display: block;
	line-height: 1;
}

.header__inner {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__title-hide {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	border: 0;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
}

/* Nav - start */
.nav {
	display: flex;
	column-gap: 57px;
}

.nav__link {
	display: inline-block;
	padding: 12px;
	color: inherit;
	text-decoration: none;
	position: relative;
	text-transform: uppercase;
	transition: color var(--transition);
}

.nav__link::after {
	position: absolute;
	content: '';
	bottom: 12px;
	left: 50%;
	height: 1px;
	width: 0;
	pointer-events: none;
	background-color: var(--color-secondary);
	transition: width var(--transition), left var(--transition), background-color var(--transition);
}

.nav__link.active::after {
	width: calc(100% - 24px);
	left: 12px;
}

.nav__link:hover {
	color: var(--color-accent);
}

.nav__link:hover::after {
	background-color: var(--color-accent);
}

.nav__link:last-child {
	margin-right: -12px;
}
/* Nav - end */
/* Header - end */


/* Recommended - start */
.recommended {
	margin-bottom: 4px;
}

.recommended__title {
	margin-bottom: 30px;
}

.recommended__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	margin-bottom: 30px;
}

.recommended__center {
	display: flex;
	justify-content: center;
}

/* Card - start */
.card {
	display: flex;
	border-radius: 8px;
	border: 1px solid var(--color-card-stroke);
}

.card__img {
	background-color: var(--color-card-bg);
	border-radius: 8px;
	width: 220px;
	height: 220px;
	margin: -1px 0 -1px -1px;
}

.card__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 31px 30px;
}

.card__name {
	flex: 1;
	font-size: 18px;
	/* Нужно добавить поведение при переполнении (не больше 3 строк) */
	line-height: 1.2;
	font-family: var(--font-headers), sans-serif;
}

.card__available {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;
}

.card__tick {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: var(--color-green);
}

.card__tick-warn {
	background-color: var(--color-accent);
}
/* Card - end */
/* Recommended - end */

/* About - start */
.about {
	margin-bottom: 50px;
}

.about__title {
	margin-bottom: 30px;
}

.about__inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
}

.about__image>img {
	border-radius: 8px;
}

.about__image-wide {
	margin-bottom: 30px;
}

.about__small_images {
	display: flex;
	gap: 33px;
}

.about__info {
	font-weight: 700;
	margin-bottom: 20px;
}

.about__list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	list-style-type: none;
	margin-bottom: 20px;
}

.about__item {
	display: flex;
	gap: 15px;
}

.about__tick {
	width: 24px;
	height: 24px;
	background-color: var(--color-accent);
	border-radius: 50%;
}

.about__text {
	margin-bottom: 30px;
}
/* About - end */
