:root {
	--font-fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;
	--font-main: 'Open Sans', var(--font-fallback);
	--font-headers: 'Roboto', var(--font-fallback);
	--color-accent: #EE753E;
	--color-secondary: #272A33;

	--color-green: #4FCF36;
	--color-card-bg: #EEF3F8;
	--color-card-stroke: #E0E6ED;
	--color-nav-stroke: #E0E6ED;
	--color-header-stroke: #EAEFF4;

	--transition: .2s ease-in-out;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

ul, ol, li {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

button {
	appearance: none;
	background: transparent;
	border: none;
	padding: 0;
	margin: 0;
	width: auto;
	height: auto;
	text-align: left;
	color: inherit;
	font: inherit;
}

html {
	scrollbar-gutter: stable;
}

.main {
	visibility: visible;
	opacity: 1
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: var(--font-main), sans-serif;
	line-height: 1.5;
	color: var(--color-secondary);
}

.container {
	width: 100%;
	max-width: clamp(1190px, 80.5vw, 1470px);
	margin: 0 auto;
	padding: 0 15px;
}

/* Some elements - start */
.title {
	font-size: 36px;
	font-weight: 700;
	font-family: var(--font-headers), sans-serif;
	line-height: 1.35;
	text-transform: uppercase;
}

.btn {
	outline: none;
	border: none;
	font-family: inherit;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	font-size: 18px;
	line-height: 1.45;

	color: #fff;
	background-color: var(--color-secondary);

	padding: 8px 30px 12px;
	border-radius: 8px;
	transition: background-color var(--transition), opacity var(--transition);
}

.btn:hover, .btn:focus-visible {
	background-color: var(--color-accent);
}

.btn:focus-visible {
	outline: 2px solid var(--color-secondary);
}

.btn:disabled {
	opacity: 0.2;
	cursor: not-allowed;
	background-color: var(--color-secondary);
}

/* Some elements - end */

/* Header - start */
.header {
	width: 100%;
	position: sticky;
	top: 0;
	background-color: #fff;
	margin-bottom: 80px;
	z-index: 100;
}

.header__logo-link:focus-visible {
	outline: 2px solid var(--color-secondary);
	border-radius: 8px;
}

.header__logo-link {
	display: block;
	line-height: 1;
}

.header__inner {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__title-hide {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	border: 0;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
}

/* Nav - start */
.nav {
	display: flex;
	column-gap: 57px;
}

.nav__link {
	display: inline-block;
	padding: 12px;
	color: inherit;
	text-decoration: none;
	position: relative;
	text-transform: uppercase;
	transition: color var(--transition);
}

.nav__link::after {
	position: absolute;
	content: '';
	bottom: 12px;
	left: 50%;
	height: 1px;
	width: 0;
	pointer-events: none;
	background-color: var(--color-secondary);
	transition: width var(--transition), left var(--transition), background-color var(--transition);
}

.nav__link.active::after {
	width: calc(100% - 24px);
	left: 12px;
}

.nav__link:hover, .nav__link:focus-visible {
	color: var(--color-accent);
}

.nav__link:hover::after , .nav__link:focus-visible::after	 {
	background-color: var(--color-accent);
}

.nav__link:last-child {
	margin-right: -12px;
}
/* Burger - start */
.burger {
	display: none;
	width: 50px;
	height: 50px;
	border: 1px solid var(--color-secondary);
	border-radius: 8px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: border var(--transition);
}

.burger__img {
	display: inline-block;
	width: 23px;
	height: 2px;
	background-color: var(--color-secondary);
	position: relative;
	transition: background-color var(--transition);
}

.burger:focus-visible {
	outline: 2px solid var(--color-secondary);
}

.burger:hover, .burger:focus-visible {
	border: 1px solid var(--color-accent);
}

.burger:hover .burger__img,
.burger:hover .burger__img::before,
.burger:hover .burger__img::after,
.burger:focus-visible .burger__img,
.burger:focus-visible .burger__img::before,
.burger:focus-visible		 .burger__img::after
{
	background-color: var(--color-accent);
}

.burger-active>.burger__img {
	background-color: transparent;
}

.burger-active:hover>.burger__img,
.burger-active:focus-visible>.burger__img
{
	background-color: transparent;
}

.burger__img::before, .burger__img::after {
	content: '';
	position: absolute;
	top: -8px;
	width: 23px;
	height: 2px;
	background-color: var(--color-secondary);
	transition: background-color var(--transition), rotate var(--transition), top var(--transition);
}

.burger__img::after {
	top: 8px;
}
.burger-active>.burger__img::before {
	top: 0;
	rotate: 45deg;
}
.burger-active>.burger__img::after {
	top: 0;
	rotate: -45deg;
}
/* Burger - end */

/* Nav - end */
/* Header - end */


/* Recommended - start */
.recommended {
	margin-bottom: 4px;
}

.recommended__title {
	margin-bottom: 30px;
}

.recommended__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	margin-bottom: 30px;
}

.recommended__center {
	display: flex;
	justify-content: center;
}

/* Card - start */
.card {
	display: flex;
	border-radius: 8px;
	border: 1px solid var(--color-card-stroke);
}

.card__img {
	background-color: var(--color-card-bg);
	border-radius: 8px;
	width: 220px;
	min-width: 220px;
	height: 220px;
	margin: -1px 0 -1px -1px;
}

.card__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 31px 30px;
}

.card__name {
	flex: 1;
	font-size: 18px;
	/* Нужно добавить поведение при переполнении (не больше 3 строк) */
	line-height: 1.2;
	font-family: var(--font-headers), sans-serif;
}

.card__name > p {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.card__available {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;
	line-height: 1.45;
}

.card__tick {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: var(--color-green);
}

.card__tick-warn {
	background-color: var(--color-accent);
}
/* Card - end */
/* Recommended - end */

/* About - start */
.about {
	margin-bottom: 50px;
}

.about__title {
	margin-bottom: 30px;
}

.about__inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
}

.about__image, .about__image>img {
	width: 100%;
}
.about__image>img {
	border-radius: 8px;
}

.about__image-wide>img {
	width: 100%;
	margin-bottom: 30px;
}

.about__small_images {
	display: flex;
	gap: 33px;
}

.about__info {
	font-weight: 700;
	margin-bottom: 20px;
}

.about__list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	list-style-type: none;
	margin-bottom: 20px;
}

.about__item {
	display: flex;
	gap: 15px;
}

.about__tick {
	width: 24px;
	height: 24px;
	background-color: var(--color-accent);
	border-radius: 50%;
}

.about__text {
	margin-bottom: 30px;
}
/* About - end */

@media(max-width: 1439px) {

	.main {
		visibility: visible;
		opacity: 1;
		transition: opacity var(--transition), visibility var(--transition);
	}

	.main-open-nav {
		visibility: hidden;
		opacity: 0;
	}

	.body-open-nav {
		overflow: hidden;
	}

	.header {
		margin-bottom: 50px;
	}

	.header-open-nav {
		border-bottom: 1px solid var(--color-header-stroke);
	}

	.container {
		max-width: clamp(606px, 70vw, 798px);
	}

	.title {
		font-size: clamp(20px, 2.6vw,30px);
	}

	.nav {
		position: fixed;
		top: 80px;
		bottom: 0;
		width: 100%;
		max-width: clamp(576px, 70vw, 768px);

		margin: 0 auto;
		margin-top: 1px;
		padding-top: 9px;
		background-color: #fff;
		flex-direction: column;
		align-items: flex-start;
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
		transition: visibility var(--transition);
	}

	.mobile-show {
		/*opacity: 1;*/
		visibility: visible;
		pointer-events: auto;
	}

	.nav__link {
		width: 100%;
		padding: 20px 0;
		border-bottom: 1px solid var(--color-nav-stroke);
	}


	.burger {
		display: flex;
	}

	.recommended__list {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	.recommended {
		margin-bottom: 50px;
	}

	.about__inner {
		display: flex;
		flex-direction: column;
	}
}

@media(max-width: 650px) {
	.container {
		max-width: 390px;
	}

	.btn {
		font-size: 16px;
	}

	.nav {
		max-width: 390px;
	}

	.recommended__list {
		display: grid;
		gap: 20px;
	}

	.recommended__list {
		margin-bottom: 20px;
	}

	.card {
		flex-direction: column;
		width: 170px;
		max-width: 170px;
	}
	.card__img, .card__img>img {
		width: 170px;
		max-width: 170px;
		height: 170px;
		max-height: 170px;
		min-width: auto
	}
	.card__content {
		padding: 10px;
	}

	.card__name {
		min-height: 100px;
	}

	.card__available {
		font-size: 14px;
	}

	.about__text {
		margin-bottom: 20px;
	}
}

@media(max-width: 389px) {
	.title {
		text-align: center;
	}

	.recommended__list {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media(min-width: 1440px) {
	.nav {
		transition: none !important;
	}
}